* {
    box-sizing: border-box;
}

body {
    background-color: pink;
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    width: 28rem;
    margin: 10% auto;
}

.white-keys kbd {
    background-color: #fff;
    display: inline-block;
    width: 4rem;
    height: 12rem;
    font-size: 2rem;
    text-align: center;
    margin-left: -4px;
    border: 1px solid #ddd;
    padding-top: 5rem;
}

.black-keys kbd {
    display: inline-block;
    background-color: #000;
    width: 2rem;
    height: 6rem;
    padding: 2.5rem 0 1rem 0;
    color: #fff;
    text-align: center;
}

.black-keys {
    position: absolute;
    top: 0;
}

.black-keys kbd:nth-child(1) {
    margin-left: 2.8rem;
}

.black-keys kbd:nth-child(2) {
    margin-left: 1.8rem;
}

.black-keys kbd:nth-child(3) {
    margin-left: 5.6rem;
}

.black-keys kbd:nth-child(4) {
    margin-left: 1.8rem;
}

.black-keys kbd:nth-child(5) {
    margin-left: 1.8rem;
}